:root {
    font-family:'Courier New', Courier, monospace;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: teal;
}

header{
    margin-bottom: 50px;
    text-align: center;
    font-size: 4rem;
    width: 100%;
}

.setup {
    display: flex;
    width: 800px;
    justify-content: center;
}

.scoreboard {
    display: none;
}

.container {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    width: 60%;
    align-self: center;
    margin-top: 50px;
}

.board {
    border: solid 1px black;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20rem;
   
}

.board:first-child,
.board:nth-child(2),
.board:nth-child(3) {
    border-top: none;
}

.board:nth-child(3n + 1) {
    border-left: none;
}

.board:nth-child(3n + 3) {
    border-right: none;
}

.board:last-child,
.board:nth-child(7),
.board:nth-child(8) {
    border-bottom: none;
}

button {
        border-radius: 15px;
}

.resetbtn {
    margin-top: 90px;
    font-size: 2rem;
}